<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
</head>
<body>
<div layout:fragment="content_header" th:text="'Комментарий'"></div>
<div layout:fragment="content">
  <div th:text="${errors}" class="margin-bottom alert-danger"></div>
  <form action="#" th:action="'/good/'+${reviewDto.goodId}+'/review/'+${id == null ? '' : id}" method="post">
    <div class="mb-3">
      <label for="text" class="form-label">Текст</label>
      <input type="text" class="form-control" id="text" th:field="${reviewDto.text}" th:name="text" required="true">
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary button-fixed">
        <span th:if="${id == null}">Добавить</span>
        <span th:if="${id != null}">Обновить</span>
      </button>
      <a class="btn btn-secondary button-fixed" th:href="@{/review}">
        Назад
      </a>
    </div>
  </form>
</div>
</body>
</html>