<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{default}">
<head>
</head>
<body>
<div layout:fragment="content_header">Отзывы</div>
<div layout:fragment="content">
  <div class="d-flex justify-content-end" sec:authorize="hasRole('ROLE_ADMIN')">
    <a class="btn btn-success button-fixed"
       th:href="@{/review/edit}">
      <i class="fa-solid fa-plus"></i>
    </a>
  </div>
  <table class="table text-white" id="tbl-items">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item, iterator: ${reviews}">
      <td th:text="${item.id}"/>
      <td th:text="${item.text}"/>
      <td>
        <div>
          <a type="button" class="m-1 btn btn-primary"
             th:href="'/good/'+${item.goodId}+'/review/'+${item.id}">
            <i class="fa fa-pencil"></i>
          </a>
          <a type="button" class="m-1 btn btn-danger"
             sec:authorize="hasRole('ROLE_ADMIN')"
             th:attr="onclick=|confirm('Удалить запись?') && document.getElementById('remove-${item.id}').click()|">
            <i class="fa fa-trash"></i>
          </a>
        </div>
        <form th:action="'/good/'+${item.goodId}+'/review/delete/'+${item.id}" method="post">
          <button th:id="'remove-' + ${item.id}" type="submit" style="display: none">
            Удалить
          </button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>